
.main-banner{
    background-color:#FBFFDC;
}

.about{
    background-color:#FFECAF;
}

.free-quote{
    background-color:yellowgreen
}

.contact-us{
background-color: #98EECC;
}


.footer-mid{
 background-color:#93C6E7;
}